.error {
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 204, 204);
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.success {
    justify-content: center;
    text-align: center;
    background-color: rgb(25, 135, 84);
    display: flex;
    border-radius: 10px;
    align-items: center;
}