


@font-face{
    font-family: "Scififont";
    src: url("../assets/BlocTekRegular-gxEZ4.ttf") format("truetype");

}

.font{
    font-family:Scififont;
}

.typewriter {
    font-size: 50px;
    font-family: "'Scififont'";
    color: #FF000C;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:white ;
}


.error {
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 204, 204);
    display: flex;
    border-radius: 10px;
    align-items: center;
    

}
.googleButton{
    
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    align-content: center;
    border-radius: 100%;
    

    > div{
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }

    > span{
        justify-content: start;
        color: black;
    }
}

