

@font-face{
    font-family:'Scififont';
    src: url("../assets/BlocTekRegular-gxEZ4.ttf") format("truetype");

}

.typewriter {
    font-size: 50px;
    font-family: 'Scififont';
    color: #FF000C;
    font-weight: normal;
    font-style: normal;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:white ;
}


.error {
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 204, 204);
    display: flex;
    color: black;
    border-radius: 10px;
    align-items: center;
    

}
.googleButton{
    
    display: flex;
    justify-content: center;
    color: black;
    align-content: center;

    > div{
        width : 100%;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    > span{
        width: 100%;
        justify-content: center;
        color: black;
    }
}

